* text=auto
*.gemspec diff=ruby
*.rb diff=ruby
*.rake diff=rakefile
*.rabl diff=ruby
*.rhtml diff=ruby
*.ru diff=ruby
*.ruby-version diff=ruby
*.html.erb diff=ruby
*.html diff=ruby
*.erb diff=ruby
*.inc.rs linguist-generated=true
bin svn-properties=svn:ignore=ruby
*.html.erb linguist-language=Ruby
*.erb linguist-language=Ruby
bin/* diff=ruby
tool/update-deps diff=ruby
tool/make-snapshot diff=ruby
tool/format-release diff=ruby
tool/leaked-globals diff=ruby
